body {
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
    
}

a {
    text-decoration: none;
}

.menu {
    background-image: url(../img/img1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    box-shadow: 0 0 0 230px rgb(0 0 0 / 33%) inset;
   
}


.menu-nav{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    height: 70px;
    
}

.logo {
    display: flex;
    align-items: center;
    
} 

.logo > img {
    padding: 21px 27px;
}

.logo > h2 {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.navigation-menu {
    display: flex;
    
}

.navigation-menu > li {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navigation-menu > li > a {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.navigation-menu > li > a:hover {
    color:#14B9D5;
}

.link:hover {
    color:#14B9D5;
    
}

.search-wrap {
    width: 68px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 164px;
    padding-bottom: 10px;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: white;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    
}

.title-btn-1{
    background-color: #89CA62;
    width: 150px;
    height: 40px;
    border: none;
    
}

.title-btn-2{
    background-color:#14B9D5;;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    border: none;
}

.btn-text{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.main-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 49px;
    margin-bottom: 52px;
}


.hotels{
    background: #F2F2F2;
}


.hotel-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 950px;
    row-gap: 30px;
}

.hotel-post {
    width: 370px;
    margin-left: 30px;
}

.hotel-post-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #353a3d;
    text-align: center;
    padding: 20px 40px;
    background-color: #ffffff;
    
}

.clients{
    background-image: url(../img/img2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    box-shadow: 0 0 0 300px rgb(0 0 0 / 33%) inset;

}

.clients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding-top: 110px;
    margin-bottom: 90px;

}



.clients-title::after {
    content: "";
    border-bottom: 3px solid #18b4cf;
    width: 60px;
    display: block;
    margin: 87px auto 0 auto;
}


.clients-logo {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-column-gap: 55px;
    justify-content: center;
    align-items: center;
    padding-bottom: 192px;
}  


.toprated{
    background: #E5E5E5;
}

.toprated-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    padding-top: 49px;
    margin-bottom: 52px;
    text-transform: uppercase;
}

.toprated-title-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: stretch;
}

.hotnews-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 49px;
    margin-bottom: 52px;
}

.hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "emirate emirate emirate nebula"
      "egypt egypt maldives maldives"
      "tenerife tenerife britain britain"
      "ireland spain spain spain";
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    width: 1168px;
    margin: 0 auto;
}
  
.emirate {
    grid-area: emirate;
    display: flex;
    height: 256px;
    background: #f9f7f7;
}
  
.emirate-info,
.spain-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.emirate-title,
.spain-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #353a3d;
    padding: 41px 24px 14px 31px;
}
  
.emirate-subtitle,
.spain-subtitle {
    font-size: 14px;
    line-height: 21px;
    padding: 0px 24px 40px 0;
    text-align: right;
    color: #5b6469;
}
  
.nebula {
    grid-area: nebula;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
  
.nebula-title,
.ireland-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
    padding: 8px 0px;
}
  
.egypt {
    grid-area: egypt;
    background: #f9f7f7;
}
  
.egypt-title,
.maldives-title,
.tenerife-title,
.britain-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353a3d;
    margin: 14px 14px 15px 0px;
}
  
.egypt-subtitle,
.maldives-subtitle,
.tenerife-subtitle,
.britain-subtitle {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5b6469;
    margin-right: 14px;
}
  
.maldives {
    grid-area: maldives;
    background: #f9f7f7;
}
  
.tenerife {
    grid-area: tenerife;
    background: #f9f7f7;
}
  
.britain {
    grid-area: britain;
    background: #f9f7f7;
}
  
.ireland {
    grid-area: ireland;
    background: #f9f7f7;
    margin-bottom: 77px;
}
  
.spain {
    grid-area: spain;
    display: flex;
    height: 256px;
    background: #f9f7f7;
    margin-bottom: 77px;
}


.footer-section {
    background: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .footer-section>h3{
    padding: 30px 0px;
    font-size: 13px;
    color: #fff;
  }
  
  .footer-logo {
    display: flex;
    align-items: flex-start;
    margin-left: 400px;
  }
  
  
  





  
  

  
  